<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
 <%= link_to "Create Post", new_post_path, class: "btn-medium" %>
 <%= link_to "See Posts", posts_path, class: "btn btn-primary" %>
