.body{
  background-color: #F4F3EF;

}



.navbar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #091F36;
  transition: all 0.3s ease;
  height: 70px;
  padding: 10px 30px;
  align-items: center;
  font-family: "Fredericka the Great";
}



.navbar-brand {
 // float: left;
 padding: 12.5px 15px;
 font-size: 32px;
 line-height: 25px;
 height: 50px;
 color: $green;
}

.navbar-brand :hover {


}


// .log-in{
//  // float: right;
//  padding: 12.5px 15px;
//  font-size: 16px;
//  line-height: 25px;
//  height: 50px;
//  color: #24CCAA;
//  font-family: "Roboto";


// }
